#middlepage {
    
    background-image: url('/assets3/img/Logo-01.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 800px !important;
    margin-top:90px !important;
}

header
{
	/*background-image:url('/img/Logo-01.png');*/
	background-attachment:scroll !important;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	text-align:center;
	color:#fff;
}